<!-- The find and replace section below is placed before the text import area to improve the UX of the tab paths through the app -->
<div class="columns large-3 medium-3 float-right" style="border: 1px solid lightgrey; padding: 1em;">
    Find: <input type="text" placeholder="Value to find... (required)" [(ngModel)]="findValue">
    Replace: <input type="text" placeholder="Value to replace..." [(ngModel)]="replaceValue">
    <button class="button" (click)="findAndReplace()">Find and Replace</button>
</div>

<div class="columns large-9 medium-9">
    <textarea placeholder="Enter some structured data here (right now, this app only supports csv, but we're working on other formats)" rows="27" [(ngModel)]="rawInput"></textarea>

    <input type="text" [(ngModel)]="delimiter" placeholder="Enter the character(s) you would like to use to split up the text">
</div>

<div class="clearfix"></div>

<div class="columns">
    <label><input type="checkbox" [(ngModel)]="ignoreFirstLine" tabindex="-1"> Ignore first line</label>
    <button class="button" (click)="submit()">Submit</button>
</div>
